@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.displayInput {
  word-break: break-word;
  white-space: pre-line;
}

.animationActive {
  opacity: 1;
  transition: 0.4s;
}

.animationUnactive {
  opacity: 0;
}

::-webkit-scrollbar{
  display: none;
}

.background-purple{
  --tw-bg-opacity: 1;
  background-color: rgb(219, 225, 241, var(--tw-bg-opacity));
}
.background-dark{
  background-color: rgb(65, 103, 207);
}

@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 225, 241);
  mask: radial-gradient(at 50% 100%, white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  overflow: hidden;
  border-radius: 50% / 100% 100% 0 0;
}

[role="progressbar"]::after {
  content: "";
  width: 60%;
  height: 10%;
  position: absolute;
  bottom: -5%;
  left: 0;
  background: 
    radial-gradient(circle at 83.33333% 50%, #fff 4%, #000 0 5%, #0000 0),
    conic-gradient(at -20% 50%, #0000 88deg, #000 88.25deg 91.75deg, #0000 92deg);
  transform-origin: 83.33333% 50%;
  transform: rotate(calc(var(--value) * 180deg / 100))
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 21, 90, 0.922);
  color: white;
  padding: 30px;
  border-radius: 10px;
  z-index: 9999;
  animation: fadeInOut 5s ease;
}

.praise-message {
  font-size: 18px;
  text-align: center;
}

.cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(233, 31, 0);
  font-size: 24px;
  cursor: pointer;
}

.clap-emoji {
  font-size: 36px;
  margin-top: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
